* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: wheat;
}

.container {
    padding: 20px;
    background: rgb(173, 180, 245);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: #0066c0;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

button {
    width: 100%;
    padding: 10px;
    background: #0066c0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}
